/*Kieran firma*/
.kier {
  margin: 10px auto;
  outline-offset: 5px;
  outline: 1px double var(--kir);
  position: relative;
  transition: all .7s ease-in-out;
  overflow: hidden;
}

.kier:hover .kiertx {
  transition: all .7s ease-in-out;
  opacity: 1;
  transition-delay: 0.1s;
}

.kier:before {
  height: 206px;
  width: 328px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), transparent);
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}

.kier:hover:before {
  transition: .3s ease-in-out;
  opacity: 1;
}

.kiertx {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 25px 30px;
  position: absolute;
  bottom: 0;
  color: #eee;
  transition: all .7s ease-in-out;
  opacity: 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.kiertx>p {
  margin: 0;
  margin-left: -8px;
  width: 165px;
  font-family: var(--ltr);
  font-size: 12px;
  text-align: justify;
  text-align-last: justify;
  letter-spacing: 1px;
  background: transparent;
  border-radius: 0;
  padding: 0;
  border: none;
  font-weight: 300;
  line-height: 16px;
}

.kiertx>p>b {
  font-weight: 400;
  background: var(--kir);
  padding: 0 5px 2px;
  display: inline-block;
  color: #eee !important;
  ;
}

.kiertx>p>h {
  font-family: var(--ltr);
  margin: 0 -2px;
  display: block;
  text-align: center;
  text-align-last: center;
  margin-bottom: 3px;
  border-bottom: 1px solid;
  font-size: 25px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 33px;
  text-shadow: none;
}
